@charset "utf-8";
@font-face {
    font-family: BebasNeue;
    src: url(BebasNeue.otf);
}

h1, h2, h3, h4, h5, h6, .menuitem {
    font-family: BebasNeue
}
h1 {font-size:3em}
h3 {font-size:2em}
h4 {font-size:2.3em}
h5 {font-size:1.5em;margin:3px 0px;}

img {
    border: none;
    padding: 0;
    outline: none;
    margin: 0;
}

a {
    color: #33CCFF;
    padding: 0px;
    outline: 0;
    text-decoration: none;
}

#menu {
    background: black;
    padding: 1%;
}

.menuitem {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    padding: 1%;
}

a:hover, .menuitem:hover {
    text-decoration: underline;
    color: #3399CC;
    cursor: pointer;
}

body {
    font-family: Palatino;
    font-size: 1.1em;
    margin: 0px;
    padding: 5%;
    border: 0px;
    width: 90%;
    background: url("../img/banner") no-repeat top;
}

article div {
    padding-bottom:15%;
}
article div img {
    position:relative;
    float:left;
    margin-bottom:1%;
    margin-right:3%;
}
article div p {
    text-align:justify;
    text-indent:50px;
}
article div h4 {padding:0;margin:0;}
.linkit, .linkold {
    cursor: pointer;
}

.linkit h3, .linkold h3 {
    color: #33CCFF;
}

.linkold:hover {
    background: #333;
}
